# Ignore virtual environments
venv/
env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Data files
*.csv
*.h5
*.sqlite3

# IDE and editor settings
.vscode/
.idea/
